<form [formGroup]="registerForm">
    <table>
        <tr>
            <td>Nama</td>
            <td>
                <input type="text" name="nama" formControlName="name" />
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                <input type="text" name="email" formControlName="email" />
            </td>
        </tr>
        <tr>
            <td>Telpon</td>
            <td>
                <input type="text" name="telpon" formControlName="phone" />
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="password" name="password" formControlName="password" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button (click)="onRegister()">Register</button>
            </td>
        </tr>
    </table>
</form>